In [2]:
import numpy as np
import pandas as pd
import ast
import requests
import joblib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [4]:
movies['revenue'].max()

np.int64(2787965087)

In [5]:
movies['budget'].max()

np.int64(380000000)

In [6]:
2787965087>380000000

True

In [7]:
4294967295>2787965087

True

In [8]:
df = movies.copy()
df = df.dropna()

In [9]:
df.isna().sum()

budget                  0
genres                  0
homepage                0
id                      0
keywords                0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
vote_average            0
vote_count              0
dtype: int64

In [10]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [11]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [12]:
movies = movies.merge(credits,on = 'title')

In [13]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [14]:
columns_to_remove = ['vote_count','vote_average','budget','homepage','id','original_language','original_title','popularity','production_countries','release_date','revenue','runtime','spoken_languages','status','tagline']

In [15]:
movies.iloc[0]['keywords']

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [16]:
# movies.iloc[0]['keywords']
movies.original_language.value_counts()

original_language
en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
id       2
cs       2
ta       2
ro       2
ar       2
te       1
hu       1
xx       1
af       1
is       1
tr       1
vi       1
pl       1
nb       1
ky       1
no       1
sl       1
ps       1
el       1
Name: count, dtype: int64

In [17]:
movies.original_title

0                                         Avatar
1       Pirates of the Caribbean: At World's End
2                                        Spectre
3                          The Dark Knight Rises
4                                    John Carter
                          ...
4804                                 El Mariachi
4805                                   Newlyweds
4806                   Signed, Sealed, Delivered
4807                            Shanghai Calling
4808                           My Date with Drew
Name: original_title, Length: 4809, dtype: object

In [18]:
movies.iloc[0]['overview']

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [19]:
movies.popularity

0       150.437577
1       139.082615
2       107.376788
3       112.312950
4        43.926995
           ...
4804     14.269792
4805      0.642552
4806      1.444476
4807      0.857008
4808      1.929883
Name: popularity, Length: 4809, dtype: float64

In [20]:
movies.iloc[0]['production_companies']

'[{"name": "Ingenious Film Partners", "id": 289}, {"name": "Twentieth Century Fox Film Corporation", "id": 306}, {"name": "Dune Entertainment", "id": 444}, {"name": "Lightstorm Entertainment", "id": 574}]'

In [21]:
movies.iloc[0]['production_countries']

'[{"iso_3166_1": "US", "name": "United States of America"}, {"iso_3166_1": "GB", "name": "United Kingdom"}]'

In [22]:
movies.iloc[0]['release_date']

'2009-12-10'

In [23]:
movies.iloc[0]['revenue']

np.int64(2787965087)

In [24]:
movies.iloc[0]['runtime']

np.float64(162.0)

In [25]:
movies.iloc[0]['spoken_languages']

'[{"iso_639_1": "en", "name": "English"}, {"iso_639_1": "es", "name": "Espa\\u00f1ol"}]'

In [26]:
movies.iloc[0]['status']

'Released'

In [27]:
movies.iloc[0]['tagline']

'Enter the World of Pandora.'

In [28]:
movies.iloc[0]['title']

'Avatar'

In [29]:
movies.iloc[0]['vote_average']

np.float64(7.2)

In [30]:
movies.iloc[0]['vote_count']

np.int64(11800)

In [31]:
# movies.iloc[0]['cast']

In [32]:
# movies.iloc[0]['crew']

In [33]:
movies = movies.drop(columns_to_remove,axis = 1)

In [34]:
# movies.info()

In [35]:
movies.isna().sum()

genres                  0
keywords                0
overview                3
production_companies    0
title                   0
movie_id                0
cast                    0
crew                    0
dtype: int64

In [36]:
movies.dropna(inplace = True)

In [37]:
movies.head(1)

,genres,keywords,overview,production_companies,title,movie_id,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...",Avatar,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [38]:
movies['genres'] = movies['genres'].apply(lambda x: [i['name'] for i in ast.literal_eval(x)])

In [39]:
movies['keywords'] = movies['keywords'].apply(lambda x: [i['name'] for i in ast.literal_eval(x)])
# movies.iloc[1]['keywords']

In [40]:
movies['overview'] = movies['overview'].str.split()

In [41]:
movies['production_companies'] = movies['production_companies'].apply(lambda x: [i['name'] for i in ast.literal_eval(x)])

In [42]:
movies['cast'] = movies['cast'].apply(lambda x: [i['name'] for i in ast.literal_eval(x)][:3])

In [43]:
movies['crew'] = movies['crew'].apply(lambda x: [i['name'] for i in ast.literal_eval(x) if i['department'] == 'Directing'])

In [44]:
movies['tags'] = movies['overview'] + movies['genres'] +movies['keywords'] +movies['production_companies'] +movies['cast'] +movies['crew']

In [45]:
movies['tags'] = movies['tags'].apply(lambda x:' '.join(x))

In [46]:
movies.drop(['genres','keywords','overview','production_companies','cast','crew'],axis = 1,inplace = True)

In [47]:
movies.head(1)

    title  movie_id                                               tags
0  Avatar     19995  In the 22nd century, a paraplegic Marine is di...

In [48]:
tfidf = TfidfVectorizer(max_features = 5000,stop_words = 'english',ngram_range = (1,2))
vectors = tfidf.fit_transform(movies['tags'])

In [49]:
similarity = cosine_similarity(vectors,vectors)

In [50]:
indices = pd.Series(movies.index,index = movies['movie_id'])
ids = pd.Series(movies.movie_id,index = movies.index)

In [51]:
indices

movie_id
19995        0
285          1
206647       2
49026        3
49529        4
          ...
9367      4804
72766     4805
231617    4806
126186    4807
25975     4808
Length: 4806, dtype: int64

In [52]:
ids

0        19995
1          285
2       206647
3        49026
4        49529
         ...
4804      9367
4805     72766
4806    231617
4807    126186
4808     25975
Name: movie_id, Length: 4806, dtype: int64

In [60]:
movies.head(2)

,title,movie_id,tags
0,Avatar,19995,"In the 22nd century, a paraplegic Marine is di..."
1,Pirates of the Caribbean: At World's End,285,"Captain Barbossa, long believed to be dead, ha..."

In [61]:
def recommend(id):
    recommendtion = sorted(list(enumerate(similarity[indices[id]])), key = lambda x:x[1],reverse = True)[1:11]
    recommendtion = list(map(lambda x: int(ids[x[0]]),recommendtion))
    return recommendtion

[58, 22, 1865, 9543, 19585, 57201, 13768, 19933, 16690, 72197]

In [63]:
for id in recommend(285):
    print(movies[movies['movie_id']==id]['title'].values[0])
# lambda x: movies[movies['movie_id']==x]['title'],recommend(19995)

Pirates of the Caribbean: Dead Man's Chest
Pirates of the Caribbean: The Curse of the Black Pearl
Pirates of the Caribbean: On Stranger Tides
Prince of Persia: The Sands of Time
G-Force
The Lone Ranger
Tuck Everlasting
The Brave Little Toaster
Return to Never Land
The Pirates! In an Adventure with Scientists!

In [58]:
joblib.dump(similarity,'similarity.joblib')
joblib.dump(indices,'indices.joblib')
joblib.dump(ids,'ids.joblib')

['ids.joblib']